.Tasks {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  padding: 10px;
  border-radius: 3px;
  background-color: rgb(87, 87, 171);
  text-align: start;
  width: 332px;
}

.Tasks li {
  display: flex;
  gap: 5px;
}

.Tasks .buttonText {
  text-align: start;
  font-size: 1em;
  font-family: Arial;
  min-height: 30px;
  width: 250px;
  border: none;
  outline: none;
}

.line {
  text-decoration: line-through;
}
