body {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #2a235d;
  width: 100vw;
  height: 100vh;
  font-family: "JetBrains Mono", monospace;
  color: #fff;
}

.Conteiner {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
}
